
.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - calc(var(--width-aside-left) + var(--width-aside-right)) - 40px);
    margin-left: calc(var(--width-aside-left) + 20px);
   
}

.container-header-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}