.container-type-food-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.container-type-food-list li{
    display: inline-block;
    margin-right: 20px;
}
.container-type-food-list a{
    
}

.container-type-food-list {
    margin-top: 40px;
}

.container-button-type-list-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 5px;
    align-items: center;
}

.container-text-button{
    margin-left: 10px;
}