.container-type-food-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.container-type-food-list li{
    display: inline-block;
    margin-right: 20px;
}
.container-type-food-list a{
    
}

.container-type-food-list {
    margin-top: 30px;
}

.container-type-food-list button{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    cursor: pointer;
    
}

.container-button-type-list-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 5px;
    align-items: center;
}

.container-text-button{
    margin-left: 10px;
    
}

.container-text-button span{
    font-weight: bold;
}