:root{
  --width-aside-left:60px;
  --width-aside-right:320px;
  --mid-width-aside-right: 280px;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  background-color: #eeeeee;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}